.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 1fr 8fr 1fr / 3fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main sideBar"
    "footer footer";
  height: 100vh;
}

#header {
  grid-area: header;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 0;
}

#navBar {
  grid-area: nav;
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.1);
  margin: 0;
  display: flex;
}
#contents {
  grid-area: main;
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
  margin: 0;
}
#sideBar {
  grid-area: sideBar;
  border: 1px solid purple;
  background-color: rgba(162, 0, 255, 0.1);
  margin: 0;
}
#footer {
  grid-area: footer;
  border: 1px solid orangered;
  background-color: rgba(255, 136, 0, 0.1);
  margin: 0;
}
#articleCard {
  background-color: coral;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border-radius: 5px 5px 5px 5px;
}

#votingArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
img {
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
}

img:hover {
  filter: none;
}

.submittedVote {
  filter: none;
}

#articleInfo {
  text-align: justify;
  flex: 10;
}
#titleAuthorLine {
  display: flex;
  justify-content: space-around;

  flex-direction: row;
}
.voteButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
}
