body {
  margin: 0px;
}
.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 1fr 8fr 1fr / 2fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main sideBar"
    "footer footer";
  height: 100vh;
  background: rgba(219, 224, 229, 1);
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}

#header {
  grid-area: header;

  background-color: white;
  margin: 0;
  display: flex;
}
#header_logo {
  max-height: 75px;
}

#navBar {
  grid-area: nav;
  border-top: 1px solid rgb(137, 137, 137);
  border-bottom: 1px solid rgb(137, 137, 137);
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50 px;
}
#homeLink {
  background-color: rgb(49, 121, 204);
  color: white;
  border-radius: 2px 2px 2px 2px;
}

#homeLink:hover {
  background-color: rgb(77, 146, 213);
}
#contents {
  grid-area: main;

  background-color: rgba(219, 224, 229, 1);
  /* height: 100vh;
  overflow: scroll; */
}
#sideBar {
  grid-area: sideBar;
  display: flex;
  background-color: rgba(219, 224, 229, 1);
  margin: 0;
  flex-direction: column;
}
#sideBarForm {
  background: white;
  border-radius: 3px 3px 3px 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
#footer {
  grid-area: footer;
  margin: 0;
}
#articleCard {
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border-radius: 3px 3px 3px 3px;
  border: solid 1px rgb(179, 179, 179);
}
#articleCard:hover {
  border: solid 1px rgb(137, 137, 137);
}

#votingArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  background: rgb(248, 249, 250);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#voteArrow {
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
}
#userAvatar {
  width: 50px;
  height: 50px;
  filter: none;
}
#userAvatar:hover {
  transform: scale(1.5);
  transition: all 0.7s;
}

img:hover {
  filter: none;
}

.submittedVote {
  filter: none;
}

#articleInfo {
  text-align: justify;
  flex: 15;
  padding: 2%;
}
#titleAuthorLine {
  display: flex;
  justify-content: space-around;

  flex-direction: row;
}
.voteButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
}

#article {
  display: flex;
}
